* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
   width: 100%; 
   height: 2.5rem;   
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
}

.tile {
  width: 100%;
  height :100%;
  border-radius: 9px;
  overflow: hidden;
  position: relative;

}
.tile img {
  width: 100%;
  height :100%;
  transition: all .2s;
}
.tile img:hover {
  transform: scale(1.1);
  filter: brightness(50%);
}

.tile-text {
  color: white;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  text-align: center;
}


